---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=italian&location=pueblo,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer HkYMLCcRCW00u5oDm8oJhouIollwNaxm0KeW-cx0iQk_JbqbV_aF1pjuv6ZpyJm9KIXxT5I-3ow-SJ2pblS1wLv1DzrutF-Y1ePpvgygVbj-y95p7wJoHLBGgcxmYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2024-08-07T00:00:00+00:00'
      X-Zipkin-Id:
      - 34b11be9ae79507f
      X-Routing-Service:
      - routing-main--useast1-64569459dd-xztqj; site=public_api_v3
      X-Tracing-Auth:
      - puGtsqGnIoXiiq7MUkfBsFcyrz0YfKGoTWN8EJgAhlw
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4996'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-154-95-useast1bprod
      X-Extlb:
      - 10-65-154-95-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "ohD11-Q1y0Y3tNy0LjyTqw", "alias": "la-forchetta-da-massi-pueblo",
        "name": "La Forchetta Da Massi", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/wvsyEbbKI049FMFcfSk0kQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/la-forchetta-da-massi-pueblo?adjust_creative=cFXg5eXCiGf1wo8WKUr1pA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=cFXg5eXCiGf1wo8WKUr1pA",
        "review_count": 239, "categories": [{"alias": "italian", "title": "Italian"},
        {"alias": "wine_bars", "title": "Wine Bars"}], "rating": 4.7, "coordinates":
        {"latitude": 38.2645118031982, "longitude": -104.613206125796}, "transactions":
        ["delivery"], "price": "$$", "location": {"address1": "126 S Union Ave", "address2":
        "", "address3": null, "city": "Pueblo", "zip_code": "81003", "country": "US",
        "state": "CO", "display_address": ["126 S Union Ave", "Pueblo, CO 81003"]},
        "phone": "+17192530126", "display_phone": "(719) 253-0126", "distance": 3543.313323844259},
        {"id": "C7-zN-vSl7M1mFDE2ZVV9g", "alias": "guss-place-pueblo", "name": "Gus''s
        Place", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/0qWyZZAzApC-TgSW2wCJ8Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/guss-place-pueblo?adjust_creative=cFXg5eXCiGf1wo8WKUr1pA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=cFXg5eXCiGf1wo8WKUr1pA",
        "review_count": 20, "categories": [{"alias": "italian", "title": "Ital[...]
